.vscode
*.o

# cpp00
megaphone
Phonebook
dream

# cpp01
Zombie
Unnecessary
replace
Harl
Harl_Filter

# cpp02
Fixed
triangle

# cpp03
ClapTrap
ScavTrap
FragTrap
DiamondTrap

# cpp04
Polymorphism
World_on_fire
Abstract_Class

# cpp05
Bureaucrat
Form
Frau_Holle_shrubbery
coffee

# cpp06
convert
Serializer
Identify

# cpp07
whatever
Iter
Array


